---
import {CollectionEntry, getCollection} from "astro:content"
import CategoryList from "../../components/CategoryList.astro"
import Main from "../../components/Main.astro"
import ProjectList from "../../components/ProjectList.astro"
import Layout from "../../layouts/Layout.astro"

export async function getAllCategories() {
    const projects = await getCollection("projects")
    const categories = Array.from(
        projects.reduce((categories, project) => {
            project.data.categories.forEach(category =>
                categories.add(category),
            )
            return categories
        }, new Set()),
    )
    return categories
}
export async function getStaticPaths() {
    const categories = await getAllCategories()
    const paths = categories.map(category => ({
        params: {category: category},
        props: {activeCategory: category, categories: categories},
    }))
    paths.push({
        params: {category: "all"},
        props: {activeCategory: "all", categories: categories},
    })
    return paths
}

const {activeCategory, categories} = Astro.props
const allProjects = await getCollection("projects")
const projects =
    activeCategory === "all"
        ? allProjects
        : allProjects.filter(project =>
              project.data.categories.includes(activeCategory),
          )
---

<Layout>
    <Main>
        <div class="mb-6">
            <CategoryList
                activeCategory={activeCategory}
                categories={categories}
                title="Filter By"
                id={`tags-main`}
            />
        </div>
        {
            projects.length === 0 ? (
                <p>No projects were found with that tag</p>
            ) : (
                <>
                    <h2 class="text-2xl  mb-6 max-lg:text-3xl align-center">
                        {(projects.length as string) +
                            " " +
                            (projects.length > 1 ? "results" : "result")}
                    </h2>
                    <ProjectList projects={projects} />
                </>
            )
        }
    </Main>
</Layout>
