---
import Main from "../components/Main.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Not found">
    <Main>
        <svg
            width="162.5"
            height="91.2"
            viewBox="0 0 162.5 91.2"
            xmlns="http://www.w3.org/2000/svg"
            ><g
                id="svgGroup"
                stroke-linecap="round"
                fill-rule="evenodd"
                font-size="9pt"
                stroke="#00000000"
                stroke-width="0.25mm"
                fill="#283f3b"
                style="stroke:#00000000;stroke-width:0.25mm;fill:#283f3b"
                ><path
                    d="M 63.3 91.2 L 56.5 88.2 L 99.2 0 L 105.9 3.2 L 63.3 91.2 Z M 38.4 21.5 L 42.5 27.9 L 7.2 49.6 L 42.5 71.5 L 38 77.6 L 0 53.9 L 0 45.2 L 38.4 21.5 Z M 124.1 21.5 L 162.5 45.3 L 162.5 53.9 L 124.5 77.6 L 120 71.4 L 155.3 49.6 L 120 27.9 L 124.1 21.5 Z"
                    vector-effect="non-scaling-stroke"></path></g
            ></svg
        >
        <p class="text-center pt-12 text-2xl">
            Not sure what you're looking for, but it's not here.
        </p>
    </Main>
</Layout>
