---
---

<footer class="bg-asparagus-900 w-full">
    <div class="md:max-w-7xl md:m-auto px-6 py-10">
        <div class="grid gap-2 grid-cols-2">
            <div>
                <p class="text-left">Copyright 2023</p>
                <p>Jonas Noack</p>
            </div>
            <a class="text-right" href="/impressum">Impressum</a>
        </div>
    </div>
</footer>
