---
---

<header class="bg-asparagus-900 w-full pb-4 pt-2 sm:p-8">
    <a href="/" class="text-center w-full">
        <h1 class="text-3xl md:text-6xl xl:text-8xl pb-4 text-dark_slate_gray">
            &lt;/&gt; Jonas Noack
        </h1>
        <p class="text-xl md:text-2xl text-fern_green">
            Software Engineer - Web Developer
        </p>
    </a>
</header>
