---
---

<header class="bg-asparagus-900 w-full p-4 md:p-8">
    <a href="/" class="text-center w-full">
        <h1 class="font-bold text-3xl md:text-6xl xl:text-8xl pb-4 text-dark_slate_gray">
            &lt;/&gt; Jonas Noack
        </h1>
        <p class="md:text-3xl text-fern_green">
            Software Engineer & Web Developer
        </p>
    </a>
</header>
